* {
padding: 0px;
margin: 10px;
box-sizing: border-box;
}

body {
 background-color:steelblue;
}

h1 {
    background-color: white;
    font-size: 70px;
    height: 300px;
}
p {
    font-size: 20px;
}
.tituloimagem {
    background-image: url('imagens/pessoas-no-estadio-de-futebol.jpg');
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center;
    color: white;
    padding: 40px;
    text-align: center;
}
.botao1 {
    width: 200px;
    height: 40px;
    font-size: medium;
    border-radius: 10px;
}

.botao-apostas {
    width: 75px;
    height: 20px;
}

button {
    color: black;
    border: 20px;
    width: 150px;
    height: 30px;
}
#calculadora {
  position: absolute;
  right: 28px;
  width: 200px;
  height: 150px;
  padding: 10px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 1000;
  font-family: Arial, sans-serif; }
